body {
  padding: 0;
  margin: 0;
  background-color: rgb(53, 26, 77);
}

.container-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem
}

.text {
  color:rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000;
}