body {
  padding: 0;
  margin: 0;
  background-color: rgb(53 26 77);
  overflow-x: hidden;
}

.container-page {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem
}

.title {
  place-items: center;
  text-align: center;
  width: 100%;
  color:rgb(255 255 255);
  text-shadow: 5px 1px 2px #0007;
}

.title h1 {
  font-size: 2rem;
}

.title img {
  width: 20rem;
}

.coffee {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 10px 8px 3px #0007;
}